---

---

<div class="bg-[#23262D] py-3">
    <div class="text-center text-white lg:mx-64 px-8">
        <p class="py-5">Disclaimer: The information provided on this website is intended for the purpose of informing the viewers and visitors. It includes details about various properties and real estate projects, such as property/project specifics, floor area ratio, location information, etc., sourced from multiple reliable channels. However, this information should not be construed as legal advice or an offer for sale. It is recommended to verify the details from the relevant RERA website or appropriate authorities before making any decisions based on the content displayed on this website.</p>
        <p class="border-t-2 border-gray-600 pt-5">© 2024 - Investments.Expert | All rights reserved.</p>
        <p>Privacy Policy | Terms & Conditions</p>
    </div>
</div>