<!--
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->
<form action="" method="post" name="investment" id="investment">
    <div class="space-y-12 p-8 shadow-lg bg-black border-2 border-white">
      <div class="">
        <h2 class="text-2xl font-semibold leading-7 text-white text-center">
          Get Best Quotes <br>From our Experts!
        </h2>
        <p class="mt-1 text-sm leading-6 text-white"></p>
  
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-6">
            <!-- <label
              for="first-name"
              class="block text-sm font-medium leading-6 text-white"
              >Name</label
            > -->
            <div class="">
              <input
                type="text"
                name="name"
                required 
                minlength="3" 
                maxlength="20"
                placeholder="Enter your Name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-primary-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
  
          <div class="sm:col-span-6">
            <!-- <label
              for="phone"
              class="block text-sm font-medium leading-6 text-white"
              >Phone</label
            > -->
            <div class="">
              <input
                type="tel"
                name="number"
                required 
                min="10" 
                max="12" 
                placeholder="Enter your phone"
                pattern="[0-9]{10}"
                id="phone"
                autocomplete="family-name"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-primary-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
  
          <div class="sm:col-span-6">
            <!-- <label
              for="email"
              class="block text-sm font-medium leading-6 text-white"
              >Email</label
            > -->
            <div class="">
              <input
                id="email"
                name="email"
                type="email"
                placeholder="Enter your email"
                pattern="[^ @]*@[^ @]*" 
                size="30"
                autocomplete="email"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-primary-500 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"
              />
            </div>
          </div>
  
          <div class="sm:col-span-6">
            <!-- <label
              for="Message"
              class="block text-sm font-medium leading-6 text-white"
              >Message</label
            > -->
            <div class="">
              <textarea
                name="message"
                id="message"
                maxlength="100"
                placeholder="Your message here"
                class="block w-full rounded-md border-0 py-1.5 px-2 text-black shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-500 sm:text-sm sm:leading-6"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 flex items-center justify-center gap-x-6">
        <button
          type="submit"
          class="rounded-md bg-white px-8 w-full py-2 text-sm font-semibold text-color shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-500"
          >Enquire Now</button
        >
      </div>
    </div>
  
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("Fh9iGh3N3uargV7OE"); // Replace with your EmailJS user ID
      })();
      document
        .getElementById("investment")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the default form submission
          // Get form data
          const formData = new FormData(this);
          // Convert FormData to a plain object
          const data = {};
          formData.forEach((value, key) => {
            data[key] = value;
          });
          // Log form data for debugging
          console.log("Form Data:", data);
          // Send email using EmailJS
          emailjs
            .send("service_mbjfuyl", "template_fk18vn5", data)
            .then(function (response) {
              console.log("Success:", response);
              window.location = "/thanks/index.html";
              document.getElementById("investment").reset(); // Optionally reset the form
            })
            .catch(function (error) {
              console.error("Error:", error);
              alert("There was an error sending your message. Please try again.");
            });
        });
    </script>
  </form>
    

  <style>
    .text-color{
		font-size: 1rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		background-image: var(--accent-gradient);
		background-size: 400%;
		background-position: 0%;
	}
  </style>