---
import NavItems from "../Data/NavData.ts";
---

<div class="w-full py-1">
    <nav class="flex items-center justify-between lg:px-12 px-8 h-16">
        <div class="">
            <a href="/" class=""
            ><h1 class="text-white">
                Investment<span class="text-gradient">.Expert</span>
            </h1></a
        >
        </div>
        <div
            class="dropdown-menu absolute -top-full max-sm:mt-10 max-sm:py-3 lg:bg-primary-500 bg-secondaryText-500 text-primaryText-500 lg:w-full w-80 items-center flex flex-col gap-2 font-bold lg:static md:static lg:flex-row lg:justify-between md:flex-row md:justify-between md:gap-6 lg:gap-6 lg:ml-20 md:ml-20"
        >
            <ul
                class="text-white flex flex-col gap-4 lg:flex-row md:flex-row lg:w-full w-60 justify-end text-lg"
            >
                {
                    NavItems.map((a) => (
                        <li>
                            <a href={a.href}>{a.text}</a>
                        </li>
                    ))
                }
            </ul>

            <!-- <div class="flex flex-col gap-3 items-center md:flex-row md:gap-4 lg:flex-row lg:gap-4">
        <button>Log In</button>
        <button class = "bg-secondary-500 text-secondaryText-500 rounded-lg px-3 py-2 hover:bg-primaryHover-500 hover:text-primaryText-500">Sign Up</button>
      </div> -->
        </div>

        <div class="md:hidden lg:hidden">
            <i class="navicon fa-solid fa-bars fa-lg text-white"></i>
        </div>
    </nav>
</div>

<style>
    h1 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        text-align: Left;
    }
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>

<script>
    const mobNav = document.querySelector(".navicon");
    const dropdown = document.querySelector(".dropdown-menu");

    mobNav?.addEventListener("click", (e) => {
        dropdown?.classList.toggle("top-16");
    });
</script>
